<%- include ('./partials/headerMovies') %> 

<body>
    <h1> Editar pelicula</h1>
    <form action="/movies/update/<%= pelicula.id %>?_method=PATCH" method="POST">
        <div>
            <label for=""> Titulo</label>
            <input type="text" name="title" value="<%= pelicula.title %> ">
        </div>
        <div>
            <label for=""> Premios</label>
            <input type="text" name="awards" value="<%= pelicula.awards %> ">
        </div>
        <div>
            <label for=""> Duracion</label>
            <input type="text" name="length" value="<%= pelicula.length %> ">
        </div>
        <div>
            <label for=""> Rating</label>
            <input type="text" name="rating" value="<%= pelicula.rating %> ">
        </div>
        <div>
            <label for=""> Fecha de estreno</label>
            <input type="date" name="release_date">
        </div>
        <div>
            <label for=""> Genero</label>
            <select name="genre_id">
                <% for (let i = 0; i < generos.length; i++) { %>
                    <% if (generos[i].id == pelicula.genre_id) { %> <!-- si el genero que estoy x imprimir es el mismo que tiene la pelicula, hago una cosa... -->
                        <option value="<%= generos[i].id %>" selected>
                            <%= generos[i].name %> 
                        </option>
                    <% } else { %> <!-- y sino... hago otra -->
                        
                    <% } %>  
                
                <% } %>
            </select>
        </div>
        <button type="submit">Editar</button>
    </form>
</body>


<%- include ('./partials/footerMovies') %>