<%- include ('./partials/headerMovies') %> 




<h1><%= pelicula.title %></h1> 

<ul>
    <li>
        Duracion: <%= pelicula.length %> 
    </li>
    <li>
        Fecha de estreno: <%= pelicula.release_date %> 
    </li>
    <li>
        Premios: <%= pelicula.awards %> 
    </li>
    <li>
        Rating: <%= pelicula.rating %> 
    </li>
    <li>
        Genero: <%= pelicula.genero.name %> <!-- del genero pido el nombre -->
    </li>
    <li>
        Actores:
        <ul>
            <% for (let i = 0; i < pelicula.actores.length; i++) { %>          
                <li>
                    <%= pelicula.actores[i].first_name %> <%= pelicula.actores[i].last_name %>
                </li>
            <% } %>
        </ul>
    </li>
</ul>

<button>
    <a href="/movies/update/<%= pelicula.id %> ">
    Editar
    </a>
</button>
<form action="/movies/delete/<%= pelicula.id %>?_method=DELETE" method="POST">
    <button type="submit">
        Borrar
    </button>
</form>




<%- include ('./partials/footerMovies') %>